:root{
    --colorprimario: #0f0d0de1;
    --colorsecundario: #857e7e8c;

    --fuente: "Domine", serif;
    
    /*Variables - son informacion que voy a reutilizar constantemente. Las variables van con dos "--"*/
}
/*Contenedores: body, nava, heder, a, etc. Todos son contenedores distintos.*/
body {
    font-family: var(--fuente);
    font-size: 16px;
    /* font family es para definir la fuente que voy a tener
        font size es el tamaño. Todo lo escrito en el body se reflejo en el cuerpo*/
    line-height: 1.5;
    /* line height Es el interlineado*/

    background-color: var(--colorprimario);
    /*Modificacion del color del fondo.*/

    color: antiquewhite;
    /*con solo escribir "color" se sabe que modifica el color de la fuente de toda la pagina.*/

    margin: 3rem;
    /*el margen por lo general es segun cantidad de rem o pixeles- preguntar al profe para centralizar imagenes.*/


}

nav ul{
    display: flex;  /* display - Lo convierte en un contenedor flexible (que va a poder cambiar de posicion) */
    gap: 2rem; /* gap - es la separacion que puede haber entre un contenedor (li)y otro contenedor.*/
    flex-direction: row; /* flex-direction - direccion que va a tener (fila, columna, etc)*/
    justify-content:flex-start; /*justify-content - la posicion (si se encuentra a la iz, der, centrado)*/
    list-style: none; /*list-style - le saca el puntito a la lista.*/
}

nav ul li a { 
    text-decoration: none; /*Se supone que deberia de sacar el color azul, pero no funciono. Preguntar al profe.*/
}

